@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fcf9f4;
}

.footnotes > h2 {
  display: none;
}

@font-face {
  font-family: "Souvenir";
  src: url("/fonts/souvenir.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* Yes, this is a hack because I don't know an easy way to do it in Tailwind */
blockquote a {
  font-style: normal;
  display: block;
  font-weight: bold;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

blockquote p {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

.redacted {
  background: #141e30;
}
