@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fcf9f4;
}

.footnotes > h2 {
  display: none;
}

/* Yes, this is a hack because I don't know an easy way to do it in Tailwind */
blockquote a {
  display: block;
  text-align: right;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  margin-top: 0.25rem !important;
}

blockquote p {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}
